/* ----set up--- */
:root{
--primary-color: ;
--bg-color:rgba(139, 145, 145,0.1);

}



body,html{
font-family: serif;
font-size: 16px;
line-height: 145%;
box-sizing: border-box;
text-rendering: optimizeSpeed;
overflow-x: hidden;
}

*{
    box-sizing: inherit;
    margin: 0;
padding: 0;
}

.wrapper{
 width: 1140px;
 margin: 0 auto;
 background-color: var(--bg-color);
 border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

header,section,footer, nav,#tribute-info,#img-div {
    display: block;
    margin: 10px 0 20px 0;
}

h1{
    margin-bottom: 5px;
}

/* ----header */

header#title{
    text-align: center;
    padding: 10px 0;
}

#img-div{
    width: inherit;
    text-align: center;
}

#img-div #image{
    width: 80%;
}

/* -------nav--- */

.nav{
    width: 30% ;
    border: 2px solid var(--bg-color);
}

.nav ul{

}

.nav ul li{
    list-style: none;
    display: block;
    padding: 10px;
    border-bottom: 1px solid var(--bg-color);
    cursor: pointer;
}

.nav ul li a{
  text-decoration: none;
  cursor: pointer;
}

.nav ul li:hover {
    background-color: aliceblue;
    color: #fff;
}