/* ----set up--- */
:root{
--primary-color: ;
--bg-color:rgba(139, 145, 145,0.1);

}



body,html{
font-family: serif;
font-size: 18px;
line-height: 145%;
box-sizing: border-box;
text-rendering: optimizeSpeed;
overflow-x: hidden;
}

*{
    box-sizing: inherit;
    margin: 0;
padding: 0;
}

.wrapper{
 width: 1140px;
 margin: 0 auto;
 background-color: var(--bg-color);
 border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 0 10px;
}

header,section,footer, nav,#tribute-info,#img-div {
    display: block;
    margin: 10px 0 20px 0;
}

h1,h2{
    margin-bottom: 5px;
    margin-top: 25px;
}

/* ----header */

header#title, .footer{
    text-align: center;
    padding: 10px 0;
}

#img-div{
    width: inherit;
    text-align: center;
}

#img-div #image{
    max-width: 80%;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}


 #img-caption cite{
    width: 80%;
    border: 2px solid red;
}
/* img#image{
    display: block;
} */

/* -------nav--- */
#tribute-info{
    width: 100%;
    overflow: hidden;
}
.nav{
    width: 30% ;
    border: 2px solid var(--bg-color);
    display: block;
    float: left;
   margin-right: 10px;
}

.nav ul{
width: 100%;
}

.nav ul li{
    list-style: none;
    display: block;
    padding: 10px;
    border-bottom: 1px solid var(--bg-color);
    cursor: pointer;
}

.nav ul li a{
  text-decoration: none;
  cursor: pointer;
  color: initial;
  font-weight: bold;
}

.nav ul li:hover:not(:nth-child(1)) {
    background-color: aliceblue;
}


.nav-p{
    width: 68%;
padding: 10px 10px;
float: right;
display: block;
}

blockquote { 
    /* display: block; */
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 120%;
    position: relative;
    padding: 20px;
  }

  blockquote::before{
      content: "\201C";
      font-size: 300%;
      /* display: block; */
position: absolute;
 /* top: 5px; */
left: -5px; 

  }

 .section-contain p{
      margin: 15px 0;
  }

  /* ------footer-------- */
  